@using FinkiOverflowProject.Models
@model List<PostViewModel>


<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Settings</li>
    <li class="breadcrumb-item active">Delete posts</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Top questions
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="post-table" class="table">
                <thead style="display:none;">
                    <tr>
                        <th style="width:4%"></th>
                        <th style="width:5%"></th>
                        <th style="width:91%"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (PostViewModel post in Model)
                        {
                            <tr>
                                <td>
                                    <div class="card border-0 text-center">
                                        <div class="card-header">
                                            @post.NumberOfVotes
                                        </div>
                                        <div class="card-body">
                                            @if (post.NumberOfVotes == 1)
                                            {
                                                <span>vote</span>
                                            }
                                            else
                                            {
                                                <span>votes</span>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="card border-0 text-center">
                                        <div class="card-header">
                                            @post.Answers
                                        </div>
                                        <div class="card-body">
                                            @if (post.Answers == 1)
                                            {
                                                <span>answer</span>
                                            }
                                            else
                                            {
                                                <span>answers</span>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="card border-0">

                                        <div class="card-header clearfix">
                                            @{
                                                string postTitle = post.PostTitle;
                                                if (postTitle.Length > 80)
                                                {
                                                    postTitle = postTitle.Substring(0, 80) + "...";
                                                }
                                            }
                                            @Html.ActionLink(postTitle, "ViewComments", "Comments", new { postId = post.PostId }, new { @class = "float-left" })
                                            <button data-post-id="@post.PostId" type="button" class="btn btn-danger js-delete float-right"><span class="fa fa-times"></span></button>
                                        </div>
                                        <div class="card-footer clearfix border-0">
                                            <a href="@Url.Action("ViewPostsForSubject", "Posts", new { id = post.SubjectId })"><small class="text-muted" title="Top subject">@post.SubjectName</small></a>
                                            <span class="float-right">
                                                @{
                                                    System.TimeSpan totalTime = DateTime.Now.Subtract(post.TimeAsked);
                                                    int timePassed = (int)totalTime.TotalSeconds;
                                                    string time = "seconds";
                                                    if (timePassed == 1)
                                                    {
                                                        time = "second";
                                                    }
                                                    else if (timePassed > 59)
                                                    {
                                                        timePassed = (int)totalTime.TotalMinutes;
                                                        if (timePassed > 59)
                                                        {
                                                            timePassed = (int)totalTime.TotalHours;
                                                            if (timePassed > 23)
                                                            {
                                                                timePassed = (int)totalTime.TotalDays;
                                                                if (timePassed == 1)
                                                                {
                                                                    time = "day";
                                                                }
                                                                else
                                                                {
                                                                    time = "days";
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (timePassed == 1)
                                                                {
                                                                    time = "hour";
                                                                }
                                                                else
                                                                {
                                                                    time = "hours";
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (timePassed == 1)
                                                            {
                                                                time = "minute";
                                                            }
                                                            else
                                                            {
                                                                time = "minutes";
                                                            }
                                                        }
                                                    }

                                                }
                                                asked @timePassed @time ago by @Html.ActionLink(post.StudentName, "ViewStudent", "Students", new { id = post.StudentId }, null)
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            var table = $("#post-table").DataTable({
                searching: false,
                lengthChange: false
            });

            $(".js-delete").on("click", function () {
                var button = $(this);
                $.ajax({
                    method: "DELETE",
                    url: "/api/PostsApi/DeletePost/" + button.attr("data-post-id"),
                    success: function () {
                        table.row(button.parents("tr")).remove().draw();
                    }
                });
            });

        });
    </script>
}
