@using FinkiOverflowProject.Models
@model List<PostViewModel>


<table id="post-table" class="table table-hover">
    <thead>
        <tr>
            <th style="width:5%"></th>
            <th style="width:91%"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (PostViewModel post in Model)
            {
                <tr>
                    <td>
                        <div>
                            <div class="card border-0">
                                <div class="card-header text-center">
                                    @post.Votes
                                </div>
                                <div class="card-body">
                                    votes
                                </div>
                            </div>
                            <div class="card border-0">
                                <div class="card-header text-center">
                                    @post.Answers
                                </div>
                                <div class="card-body">
                                    answers
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <div class="card-header text-center">
                                @Html.ActionLink(post.PostTitle, "", "")
                            </div>
                            <div class="card-body text-right">
                                @post.PostBody
                            </div>
                            <div class="card-footer text-right">
                                asked @post.TimeAsked.Minute minutes ago by @Html.ActionLink(post.StudentName, "", "")
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#post-table").DataTable();

        });
    </script>
}
