@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Vendor/css")
    @Styles.Render("~/About/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="@Url.Action("Index","Posts")">FinkiOverflow</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        @if (!string.IsNullOrEmpty(User.Identity.GetUserId()))
        {
            
            <!-- Navbar Search -->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Navbar -->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger">9+</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-danger">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">Settings:</h6>
                        <a class="dropdown-item" href="@Url.Action("UpdateProfileForStudent", "Students")">Update my profile</a>
                        <a class="dropdown-item" href="@Url.Action("ViewPostsForStudent", "Students")">View my posts</a>
                        <a class="dropdown-item" href="@Url.Action("ViewCommentsForStudent", "Students")">View my comments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                    </div>
                </li>
            </ul>
        }
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item" id="sidebar-post">
                <a class="nav-link" href="@Url.Action("Index","Posts")">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item" id="sidebar-student">
                <a class="nav-link" href="@Url.Action("ViewAllStudents","Students")">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Students</span>
                </a>
            </li>
            <li class="nav-item" id="sidebar-subject">
                <a class="nav-link" href="@Url.Action("ViewAllSubjects","Subjects")">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Subjects</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Login Screens:</h6>
                    <a class="dropdown-item" href="@Url.Action("Login","Account")">Login</a>
                    <a class="dropdown-item" href="@Url.Action("Register","Account")">Register</a>
                   @*<a class="dropdown-item" href="@Url.Action("ForgotPassword","Account")">Forgot Password</a>*@
                </div>
            </li>
            @if (!string.IsNullOrEmpty(User.Identity.GetUserId()) && User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Settings</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <h6 class="dropdown-header">Manage posts:</h6>
                        <a class="dropdown-item" href="@Url.Action("ApprovePosts", "Posts")">Approve posts</a>
                        <a class="dropdown-item" href="@Url.Action("DeletePosts", "Posts")">Delete posts</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Manage subjects:</h6>
                        <a class="dropdown-item" href="@Url.Action("Create", "Subjects")">Add subjects</a>
                        <a class="dropdown-item" href="@Url.Action("DeleteSubjects", "Subjects")">Modify subjects</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Manage comments:</h6>
                        <a class="dropdown-item" href="@Url.Action("DeleteComments", "Comments")">Delete comments</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Manage users:</h6>
                        <a class="dropdown-item" href="@Url.Action("AddUserToRole", "Account")">Add user to role</a>
                    </div>
                </li>
            }
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © FinkiOverflow 2018</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    @using (Html.BeginForm("LogOff", "Account"))
                    {
                        @Html.AntiForgeryToken()
                        <input class="btn btn-primary" type="submit" value="Logout" />
                    }
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Vendor/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
